* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  background-color: black;
}
header .container .navbar-brand {
  font-size: 30px;
  font-weight: 500;
}
header .container .navbar {
  font-size: 20px;
}
header .container .navbar a {
  color: white;
}

.pagedone {
  width: 100%;
  height: 900px;
  background-color: rgb(4, 108, 120);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagedone .container {
  color: white;
}
.pagedone .container .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.pagedone .container h1 {
  font-size: 130px;
}
.pagedone .container h3 {
  font-size: 60px;
}
.pagedone .container p {
  background-color: rgb(4, 62, 115);
  font-size: 35px;
}
.pagedone .container button {
  color: white;
  background-color: red;
  width: 500px;
  height: 80px;
  font-size: 30px;
}

.texts button:hover {
  background-color: rgb(198, 77, 7);
}

.services {
  width: 100%;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6RjkYcDsIRRSUWo3nZ7IcsIuEs_ThGPLT8EeMFe6YwaP6Tjwg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.services .container .ourservices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.services .container .ourservices h2 {
  font-size: 50px;
  color: rgb(4, 108, 120);
}
.services .container .ourservices .servicestext h4 {
  font-size: 40px;
  font-weight: 400;
}
.services .container .ourservices .servicestext p {
  font-size: 20px;
}
.services .container .menus {
  display: flex;
  justify-content: center;
}
.services .container .menus .suremenu {
  height: 500px;
  background-color: rgb(4, 108, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 30px;
  margin-top: 20px;
}
.services .container .menus .suremenu h5 {
  font-size: 35px;
}
.services .container .menus .suremenu p {
  font-size: 25px;
}
.services .container .secondtext {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services .container .secondtext h4 {
  font-size: 45px;
}

.wallstreet {
  width: 100%;
  height: 300px;
  background-color: rgb(4, 108, 120);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
}

.walltext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.walltext h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
}
.walltext h3 {
  font-size: 40px;
  color: white;
}

.ourplans {
  width: 100%;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6RjkYcDsIRRSUWo3nZ7IcsIuEs_ThGPLT8EeMFe6YwaP6Tjwg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourplans .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.ourplans .container .plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.ourplans .container .plans h2 {
  font-size: 50px;
  color: rgb(4, 108, 120);
}
.ourplans .container .plans .plantext h4 {
  font-size: 40px;
}
.ourplans .container .plans .plantext p {
  font-size: 20px;
}
.ourplans .planscards .consist {
  width: 400px;
  background-color: rgb(206, 203, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ourplans .planscards .consist p {
  font-size: 25px;
}
.ourplans .planscards .consist .btnfirst {
  background-color: red;
  width: 400px;
  font-size: 25px;
  color: white;
  border: none;
}
.ourplans .planscards .consist .btnsecond {
  background-color: rgb(0, 83, 142);
  width: 400px;
  font-size: 25px;
  color: white;
  border: none;
}
.ourplans .planscards .consist .btnthird {
  background-color: rgb(16, 177, 16);
  width: 400px;
  font-size: 25px;
  color: white;
  border: none;
}
.ourplans .planscards .consist .pay {
  width: 400px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.ourplans .planscards .consist .basicplan {
  width: 400px;
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.numbers {
  width: 100%;
  height: 300px;
  background-color: rgb(4, 108, 120);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.walltext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.walltext h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
}
.walltext h3 {
  font-size: 40px;
  color: white;
}

.contacts {
  width: 100%;
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6RjkYcDsIRRSUWo3nZ7IcsIuEs_ThGPLT8EeMFe6YwaP6Tjwg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.contacts .container .contactus h2 {
  font-size: 50px;
  color: rgb(4, 108, 120);
}
.contacts .container .contactus .contactext h4 {
  font-size: 40px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  width: 400px;
}

.sixcontainer {
  display: flex;
  gap: 30px;
}